<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,832},{158,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{158,173}}</string>
                <key>sourceSize</key>
                <string>{162,177}</string>
            </dict>
            <key>btn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{162,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{162,175}}</string>
                <key>sourceSize</key>
                <string>{166,179}</string>
            </dict>
            <key>btn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,657},{158,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{158,173}}</string>
                <key>sourceSize</key>
                <string>{162,177}</string>
            </dict>
            <key>btn_again.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,909},{97,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{97,99}}</string>
                <key>sourceSize</key>
                <string>{101,103}</string>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,909},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>btn_home.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,909},{97,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{97,99}}</string>
                <key>sourceSize</key>
                <string>{101,103}</string>
            </dict>
            <key>panel_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,657},{142,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{142,148}}</string>
                <key>sourceSize</key>
                <string>{146,152}</string>
            </dict>
            <key>panel_succ.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{470,476}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{470,476}}</string>
                <key>sourceSize</key>
                <string>{474,480}</string>
            </dict>
            <key>pic_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,623},{141,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,141}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>pic_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,766},{141,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,141}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>pic_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,766},{137,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{137,137}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>pic_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,480},{141,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,141}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>pic_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,623},{141,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,141}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>pic_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,766},{141,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,141}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>pic_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,480},{141,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,141}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>pic_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,623},{141,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,141}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>pic_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,807},{141,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,141}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>pic_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,807},{141,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,141}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>pic_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,480},{141,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,141}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>flopres.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eae280c05b18b896a6f1403522b9e7e2$</string>
            <key>textureFileName</key>
            <string>flopres.png</string>
        </dict>
    </dict>
</plist>
